footer {

  .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    margin: 1.5em 0;

    &>div {
      margin-bottom: 1em;
    }

    ul {
      margin: 0; padding: 0;
    }

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: var(--primary1);
      &:hover { color: var(--primary2); }
    }
  }

  @media screen and (min-width: 48em) {
    .container {
      flex-direction: row;
    }
  }
}