#highlights {
  background-color: var(--primary1);
  color: var(--highlight-light);

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .half {
    flex-grow: 1;
    margin: 1em auto;
  }  

  h1 { color: var(--primary2); }
  p { line-height: 1; }

  img {
    width: 35ch;
    height: 35ch;
    object-fit: cover;
    border-radius: 16px;
    max-width: 90vw;
    max-height: 90vw;
  }

  @media screen and (min-width: 48em) {
    margin-bottom: 8ch;

    .container {
      flex-direction: row;
    }

    .right {
      display: flex;
      justify-content: flex-end;
    }

    p { max-width: 23ch; }
    img { margin-bottom: -40ch; }
  }

  @media screen and (min-width: 62em) {
    margin-bottom: 8ch;

  }

}
