#specials {
  
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .card {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 1em;
      border-radius: 16px 16px 0 0;
      background-color: var(--highlight-light);
      overflow: hidden;
      color: var(--highlight-dark);

      .content {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1.5em 1.5em 0;
        flex: 1;
      }

      .title, .price { font-size: 18pt; font-weight: bold; }
      .price { color: var(--secondary1); }
      p { line-height: 1;}
      img { height: 240px; object-fit: cover; }
      .link { padding: 1.5em; font-weight: bold;}
    }
  }
}